body{
    background-color:#f2f2f8 ;
    margin: 0px;
    background-image:url("assets/beige-paper-1920x1080.png");
    background-size:cover;
    background-attachment:fixed;
    min-height: 100vh;
}
#subhead{
    margin-top: 0px;
}
ul{
    display: flex;
    justify-content: end;
    list-style: none;
    padding: 20px;
    margin: 0px;
    
}
.Social_Media_Icons{
    margin-top: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}
li a{
    margin: 0px 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
   
    
    transition:0.3s ease, color 0.3s ease;
}
header{
background-color: #F8F8F8;
margin: 0px;
border-bottom: 1px solid #000000;

}

a{
    text-decoration: none;
    color: black;
    font-size: 15px;
  
}

.Content_Container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 80px 20px 150px;
    box-sizing: border-box;
}
h1{
    font-family: "cormorant garamond", serif;
    font-size: 40px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    text-align: center;
}
h2{
    font-size: 30px;
    margin: 0px;
    color: #000000;
    text-align: center;
   font-family: "cormorant garamond", serif;
   font-weight: normal;
}
p{
    font-size: 15px;
    margin: 0px;
    color: #000000;
    padding: 10px;
    text-align: center;
}

li:hover{
   background-color: rgb(163, 178, 232);

}

.arrow_text{
    font-size: 18px;
    margin: 0px;
    color: #000000;
    padding: 20px;
    font-family: "caveat", cursive;
    transition: transform 0.2s ease;
}
.arrow_text:hover{
  transform: translateY(-5px);
}
  

#arrow{
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;

}
.view-work-div{
    margin-top: 60px;
    text-align: center;
}


.image_DeepWithin{
    width: 500px;
    height: auto;
}

.Feature_image{
    margin-top: 90px;
    
}


.image_Pippy{
    width: 700px;
    height: auto;
}
.feature_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 80px 20px 0px;
    box-sizing: border-box;
}
h2{
    margin-top: 20px;
}

.Featured_Image2{
    margin-top: 100px;
}

@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.animation{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.start_page{
    transform: translateY(40px);
}

