body{
    background-color:#f2f2f8;
    background-image:url("assets/beige-paper-1920x1080.png");
    background-size:cover;
    background-attachment:fixed;
    min-height: 100vh;
    margin: 0px;
}
#subhead{
    margin-top: 15px;
    font-size: 1.5rem;
    font-weight:normal;
    font-family: "inter";
    
}



ul{
    display: flex;
    justify-content: end;
    list-style: none;
    padding: 20px;
    margin: 0px;
    
}
.tags_shape{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 0.875rem;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
   
}

.tags_text{
    border: #757575 1px solid;
    border-radius: 20px;
    font-size: 0.875rem;
    border-style: double;
    color: #757575;
    height: 0.875rem;
    display: inline-block;
    padding: 6px 12px;
}
.Social_Media_Icons{
    margin-top: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.Social_Media_Icons img{
    width: 48px;
    height: 48px;
    height: auto;
    display: block;
    background: transparent;
    padding-top: 20px;
}
li a{
    margin: 0px 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
   
    
    transition:0.3s ease, color 0.3s ease;
}
header{
background-color: #F8F8F8;

border-bottom: 1px solid #000000;

}

a{
    text-decoration: none;
    color: black;
    font-size: 15px;
  
}

.Content_Container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 80px 20px 150px;
    box-sizing: border-box;
}
h1{
    font-family: "cormorant garamond", serif;
    font-size: 3.815rem;
    padding-bottom: 0px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bolder;
}
h2{
    font-size: 2.488rem;
    margin: 0px;
    text-align: center;
    font-family: "cormorant garamond", serif;
    font-weight: 700;
}

p{
    font-size: 1rem;
    margin: 0px;
    color: #000000;
    padding: 10px;
    text-align: center;
}

li:hover{
   background-color: rgb(163, 178, 232);

}

.arrow_text{
    font-size: 18px;
    margin: 0px;
    color: #000000;
    padding: 20px;
    font-family: "caveat", cursive;
    transition: transform 0.2s ease;
    opacity: none;
}
.arrow_text:hover{
  transform: translateY(-5px);
}
  

#arrow{
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;

}
.view-work-div{
    margin-top: 60px;
    text-align: center;
}
p{
    font-size: 1rem;
}

.image_DeepWithin{
    width: 750px;
    height: auto;
}

.Feature_image{
    margin-top:120px;
    
}
#width_text{
    width: 700px;
}
.image_Pippy2{
    width: 750px;
   margin-left: 20px;
}
.image_Pippy{
    width: 700px;
    height: auto;
}
.feature_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 80px 20px 0px;
    box-sizing: border-box;
}
h2{
    margin-top: 20px;
}

.Featured_Image2{
    margin-top: 100px;
}

@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.animation{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.start_page{
    transform: translateY(40px);
}


.start_page p{
  
     line-height: 1.6;
     font-family: 1.25rem;
     opacity: 0.7;
     padding-top: 8px;
     font-family: 100;
}
html{
    scroll-behavior: smooth;
}

.font_bold{
    opacity: 1;
    
    font-style: italic;
}
