.Intro-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 4rem;
  max-width: 1400px;
  margin: 0 auto;
  padding: 4rem 5%;
  margin-top: 20px;
  padding-top: 0px;
  
}

.Intro-section-text {
  max-width: 600px;
}

#smalldescr {
  font-size: 1.5rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.Intro-section-text h1 {
  font-size: clamp(5rem, 8vw, 8rem);
  line-height: 0.9;
  max-width: 10ch;
  margin-bottom: 1rem;
}

.Intro-section-text p {
  font-size: 1.4rem;
  line-height: 1.35;
  margin-bottom: 1rem;
  max-width: 32ch;
}

.Intro-section-text h5 {
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.Intro-section-text h5 + p{
    font-size: 1.2rem;
}

.Intro-section-text hr {
  border: none;
  border-top: 1px solid #d6d6d6;
  margin: 1.5rem 0;
}
h5{
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

#change_width {
  width: 100%;
  max-width: 800px;
  display: block;
  margin-left: auto;
  align-items: start;
}

.interactive_link {
  font-family: "Caveat", cursive;
  font-weight: 800;
  font-size: 1.5rem;
  color: black;
}